body{
  background-color: #edeef0;
}
h4{
  text-align: center;
}
.main{
  padding-top: 20px;
}
.userlist{

}
.username{
  border: 1px solid #61daee;
  text-align: center;
  transition: .2s;
  cursor: pointer;
  width: 100%;
  background-color: white;
  margin-bottom: 4px;
  border-radius: 8px;
}
.username:hover{
  border: 1px solid transparent;
  text-align: center;
  background-color: #61daee;
  color: white;
}
.username:focus{
  outline: none;
  border: 2px solid #61daee;
}
.post{
  border: 1px solid #cfcfcf;
  background-color: white;
  border-radius: 15px;
}
.post__title{
  margin: 5px 10px;
  border-bottom: 1px solid #ccc;
}
.post__body{
  padding: 2px 10px;
}
.none {
  display: none !important;
}
.readMore{
  padding: 5px 10px;
  margin: 0 10px;
  margin-bottom: 10px;
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;;
  border-bottom: 1px solid #cfcfcf;
  text-align: center;
  background-color: #d0f9ff;
  cursor: pointer;
  border-radius: 0 0 15px 15px;
}
.readMore:hover{
  background-color: white;
  color: #61daee;
}
.comment{
  padding: 5px 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border:  1px solid #cfcfcf;
  background-color: white;
  border-radius: 15px 15px;
}
.comment__email{
  display: block;
  border-bottom: 1px solid #cfcfcf;
}
.comment__body{

}